/* LAYOUT */
/* ----------------------------------------- */
#top{background: #b8af5c;}
#logo h1,
h2.headline{
	color: #968F52;
	text-shadow: 0px 1px 0px #D4CE9C;
}
.countdown_section{
	color: #b8af5c;	
	text-shadow: 0px 1px 0px #fff;
	border: 5px solid #D4CE9C;
}
#send{
	background: #98904C;
	background: -moz-linear-gradient(top,  #D4CE9C 0%, #98904C 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D4CE9C), color-stop(100%,#98904C));
	background: -webkit-linear-gradient(top,  #D4CE9C 0%,#98904C 100%);
	background: -o-linear-gradient(top,  #D4CE9C 0%,#98904C 100%);
	background: -ms-linear-gradient(top,  #D4CE9C 0%,#98904C 100%);
	background: linear-gradient(to bottom,  #D4CE9C 0%,#98904C 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D4CE9C', endColorstr='#98904C',GradientType=0 );
	color: #fefefe;
	text-shadow: none;
}